:root {
    --black: #000000;
  }
.header {
    background: #FFFFFF;}
.webstudio{
    text-decoration: none;
    color: #212121;}
.web {
    color: #2196F3;}
/* nav*/
.menu {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
list-style: none;
    } 
.menu .item {
text-decoration: none;
color:#212121;
}
.menu .item :hover{
    color: #2196F3;}
.menu .item :focus {color: #2196F3;}
.contact {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}

body { font-family: "Roboto", "Raleway", sans-serif;
color: #212121;}
.button {
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    line-height: 1.6;  }
  .button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;}
    .onebutton > .button {
        font-weight: 700;
        line-height: 1.87;}
        .button-index {
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #FFFFFF;;
            background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 0px;
        }
        .list {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            list-style: none;
        }
        .list  h2 {
            text-decoration: none;
            color: #212121;
        }
        .list  h3 {
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            text-align: left;
            letter-spacing: 0.03em;
            color: #212121;
        }
        .list p {
            text-decoration: none;
            color: #757575;
        }
        .list-item {
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            /* or 171% */
            letter-spacing: 0.03em;
            color: #757575;
        }
.figures {
list-style-type: none;}
.figure { list-style: none;
width: 370px;
height: 404px;
left: 215px;
top: 262px;
background: #FFFFFF;
border: 1px solid #EEEEEE;}
.figure > h3 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: #212121;}
.figure > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;}
.footer {
    font-style: normal;
    background: #2F303A;
    color: #fff;
    padding: 60px 0;
    text-decoration: none;
    }
.footer-logo {
    color: #fff;
    text-decoration: none;}
.footer-logo span {
color: #2196F3;}

.footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    list-style-type: none;
}
.footer-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none; }
.footer-text-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6); 
    text-decoration-line: underline;
    list-style-type: none; }
.footer-link: hover,
.footer-link: focus {
color: rgba(255, 255, 255, 1);
}